[submodule "firmware/libs/ds323x-rs"]
	path = firmware/libs/ds323x-rs
	url = git@github.com:kdimonych/ds323x-rs.git
[submodule "firmware/libs/leasehund"]
	path = firmware/libs/leasehund
	url = git@github.com:kdimonych/leasehund.git
[submodule "firmware/libs/lora-rs"]
	path = firmware/libs/lora-rs
	url = git@github.com:kdimonych/lora-rs.git
	branch = DmytroKrasnianskyi/compatible_deps
[submodule "firmware/libs/nanofish"]
	path = firmware/libs/nanofish
	url = git@github.com:kdimonych/nanofish.git
	branch = DmytroKrasnianskyi/response_builder
